@import 'variables';

//banner
#banner {
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(2,2,2,0.7), rgba(2,2,2,0.7)), url('assets/images/dark-background-50-1920x1280.jpg');
  background-size: 100% 100%;
  position: relative;

  img {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    height: auto;
    opacity: 0;
    object-fit: contain;
  }

  button {
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 22px;
  }

  #greeting {
    div {
      display: flex;
      justify-content: center;
      padding: 15px;
    }


    color: white;
    font-size: 64px;
    position: absolute;
    top: 42%;
    left: 20%;
    font-weight: 700;
    opacity: 0;
    
    p {
      margin: 0
    }
  }
}

