@import 'variables';
@import 'mixins';

body {
  margin: 0;
  font-family: Helvetica, Arial;
  box-sizing: border-box;
  overflow-x: hidden;
}

@font-face {
  font-family: honey;
  src: url('assets/fonts/painter.ttf');
}

div {
  font-family: myFirstFont;
}

.honey {
  font-family: honey, Arial; 
}

.parallax {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(rgba(2,2,2,0.7), rgba(2,2,2,0.7)), url('assets/images/dark-background-30.jpg');
  position: relative;

  button {
    border: 2px solid white;
    background: transparent;
    color: white;
    padding: 15px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 22px;
  }

  .greeting {
    div {
      display: flex;
      justify-content: center;
      padding: 15px;
    }


    color: white;
    font-size: 64px;
    position: absolute;
    top: 42%;
    left: 20%;
    font-weight: 700;
    opacity: 0;
    
    p {
      margin: 0
    }
  }

  img {
    width: 100%;
    min-width: 100vw;
    min-height: 100vh;
    height: auto;
    opacity: 0
  }
}


// Not critical -- file: skills -- bar graph on the right
#skills-section {
  height: 70vh;
  min-height: 50vh;
  width: 100vw;
  display: flex;
  background: $aboutMe-background;

  &>div {
    padding: 50px 80px;
  }
}

#skills-bars {
  width: 50%;
  height: 100%;
  box-sizing: border-box;
}

//aboutme, picture and short introduction of self, on the left
#aboutMe {
  width: 50%;
  height: 100%;
  position: relative;
  box-sizing: border-box;

  .introduction {
    h1 {
      margin-top: 0;
      font-size: $aboutMe-title-size;
    }

    p {
      font-size: $aboutMe-description-font-size;
      line-height: $aboutMe-description-line-height;
    }

    padding: 0 0 0 50px;
  }

  .links {
    padding: 0;
    display: flex;
    justify-content: space-around;
    

    
    .link {
      display: flex;
      justify-content: center;
      margin: 10px 0;
    
      a {
        text-decoration: none;
        color: $link-color;
        margin: 0 0 0 7px;
        font-size: $link-text-size;
        font-weight: $link-text-weight; 
      }
    }
  }

  // .sticky {
  //   position: fixed;
  //   top: 0;
  //   left: -100%;
  //   display: flex;
  //   justify-content: space-around;
  //   background: white;
  //   width: 100%;
  //   padding: 0;
  //   height: 10%;

  //   li {
  //     margin: 0
  //   }
  // }
}

.circle {
  border-radius: 50%;
  height: $circle-size;
  width: $circle-size;
  min-width: $circle-size;
  border: 2px solid black;
  overflow: hidden;
  background: url('assets/images/profile.png') no-repeat;
  background-size: contain
}

.bar {
  background: $bar-color !important;
}

//expertise section:
#expertise-section {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(
    rgba(0,0,0,0.7),
    rgba(0,0,0,0.7)
  ), url('assets/images/expertise-background-50.jpg') no-repeat 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding: 50px 50px;

  h1 {
    font-size: 48px;
  }

  li {
    line-height: 25px;
    width: 90%
  }

  .expertise-grid {
    display: grid;
    height: 80%;
    width: 100%;
    grid-template-columns: repeat(2, 46%);
    grid-template-rows: repeat(2, 46%);
  }
}

//projects section:
#projects-section {
  height: 100vh;
  width: 100%;
  background: #EEE5E9;
  padding: 30px 0;
  box-sizing: border-box;

  h1 {
    font-size: 56px;
    text-align: center;
  }

  .gallery {
    padding: 0 5%;
    display: grid;
    grid-gap: 10px;
    height: 375px;
    width: 100%;
    grid-template-columns: repeat(3, 30%);
  }
}

//modal:
#modal {
  background: rgba(0,0,0,0.5);
  height: 100%; 
  width: 100%; 
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: middle;
}

#modal-content {
  background: white;
  margin: auto auto;
  width: 650px;
  height: 720px;
  padding: 5px, 5px;
}

#modal-content-description {
  padding: 0 25px;
  
  p {
    font-size: 22px;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-color: red;
    padding: 10px;
  }
}


//overrides;
.slider {
  background: black!important;
}