@import 'variables';
@import 'mixins';
@import 'banner';
@import 'skills';

@import 'projects';

@font-face {
	font-family: honey;
	src: url('assets/fonts/painter.ttf');
}

@font-face {
	font-family: lato;
	src: url('https://fonts.googleapis.com/css?family=Lato" rel="stylesheet')
}

.honey {
	font-family: honey;
}

@font-face {
	font-family: carla;
	src: url('https://fonts.googleapis.com/css?family=Karla')
}

.karla {
	font-family: carla;
}

body {
	margin: 0;
	font-family: Helvetica, Arial;

	p {
		font-family: lato;
	}

	li {
		font-family: lato;
	}

	* {
		box-sizing: border-box;
	}
}










//modal:
#modal {
  background: rgba(0,0,0,0.5);
  height: 100%; 
  width: 100%; 
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
	align-items: middle;
}

#modal-content {
  background: white;
	margin: auto auto;
	border: 2px solid black;
	border-radius: 12px;
	overflow: hidden;
	// width: 650px;
	// height: 720px;

	width: 50vw;
	height: 50vw;

	@include smallerThan($ipad-pro) {
		width: 90vw;
		height: 140vw;
	}

	button {
		padding: 0 !important;
		img {
			height: 100%;
		}
	}

	.carousel {
		width: 100%;
		height: 75%;
		animation: emerge 0.3s forwards;

		img {
			object-fit: contain;
		}
	}

	@keyframes emerge {
		0% {opacity: 0}
		100% {opacity: 100%}
	}
	

	#left-button {
		background: #DCD6F7;
		height: 5vh;
		@include smallerThan($ipad-pro) {
			height: 5vh;
		}
	}

	#right-button {
		background: #D6E5E3;
		height: 5vh;
		@include smallerThan($ipad-pro) {
			height: 5vh;
		}	
	}
}

#modal-content-description {
  padding: 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: calc(25% - 5vh);
	align-items: center;

	h1 {
		display: flex;
		margin: 1% 0;
		justify-content: center;
		font-size: 1.5vw;

		@include smallerThan($ipad-pro) {
			font-size: 3vw;
		}
	}

  p {
		display: flex;
		margin: 1% 0;
		justify-content: center;
    font-size: 22px;
		font-weight: 600;
		font-size: 1vw;

		@include smallerThan($ipad-pro) {
			font-size: 2vw;
		}
	}

	#website-button {
		display: flex;
		justify-content: center;
		margin: 1% 0;
		font-size: 1vw;

		@include smallerThan($ipad-pro) {
			font-size: 2vw;
		}
	}

  a {
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-color: red;
		padding: 10px;
		border-radius: 12px;

		@include smallerThan($ipad-pro) {
			padding: 5px;
			border-radius: 6px;
			border: 1px solid red;
		}
  }
}


//overrides;
.slider {
	background: url($carousel-image-background);
}