@import 'variables';
@import 'mixins';


//modal:
#modal {
  background: rgba(0,0,0,0.5);
  height: 100%; 
  width: 100%; 
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
	align-items: middle;
}

#modal-content {
  background: white;
	margin: auto auto;
	border: 2px solid black;
	border-radius: 12px;
	overflow: hidden;
	// width: 650px;
	// height: 720px;

	width: 75vw;
	height: calc(50vw - 50px);

	button {
		padding: 0 !important;
		img {
			height: 100%;
		}
	}

	.carousel {
		

		img {
			object-fit: contain;
		}

		@include smallerThan($ipad-pro) {
			width: 95vw;
			height: 50vw;	
		}
	}
	


	// @include smallerThan()
	

	#left-button {
		background: #DCD6F7;
		height: 5vh;
		@include smallerThan($ipad-pro) {
			height: 6vh;
		}
	}

	#right-button {
		background: #D6E5E3;
		height: 5vh;
		@include smallerThan($ipad-pro) {
			height: 6vh;
		}	
	}
}

#modal-content-description {
  padding: 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	h1 {
		display: flex;
		margin: 1% 0;
		justify-content: center;
		font-size: 1.5vw;
	}

  p {
		display: flex;
		margin: 1% 0;
		justify-content: center;
    font-size: 22px;
		font-weight: 600;
		font-size: 1vw;
	}

	#website-button {
		display: flex;
		justify-content: center;
		margin: 1% 0;
		font-size: 1vw;
	}

  a {
    text-decoration: none;
    color: black;
    border: 2px solid;
    border-color: red;
		padding: 10px;
		border-radius: 12px;
  }
}


//overrides;
.slider {
  background: url("assets/images/project-background.jpg") !important;

}