@import 'variables';
@import 'mixins';

%flex-center {
	display: flex;
	justify-content: center;
}

.gallery-wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 3%;
}

.gallery {
	@include smallerThan($ipad-pro) { display: block }
	@include biggerThan($ipad-pro) {
		display: grid;
		// grid-gap: 10px;
		box-shadow:  3px 3px black, 0em 0 4em black;
		grid-template-rows: repeat(2, 18vw);
		grid-template-columns: 30vw 30vw;
		grid-template-areas: 
		"airbnb doordash" 
		"reddit upscale";

		#project-0 { grid-area: airbnb }
		#project-1 { grid-area: reddit }
		#project-2 { grid-area: upscale }
		#project-3 { grid-area: doordash }


		// #project-2 { grid-area: upscale;
		// 	.technologies {
		// 		flex-direction: column;
		// 		align-items: center;
		// 		li { margin: 2% 0 }
		// 	}
		// }
	}
}

#projects-section {
	@include biggerThan($ipad-pro) { height: auto }
	@include smallerThan($ipad-pro) { background-size: auto auto; background-repeat: 50% 50% }

	width: 100%;
	//extra space for sticky links at buttom
	padding-bottom: 50px;
	background: url("/images/project-background-1.jpg");

	.title {
		color: black;
		background: white;
		padding: 2%;
		text-align: center;
		width: 100%;
		margin: 0;
		font-size: $size-7;
		@include smallerThan($ipad-pro) { font-size: $size-9 };
	}

	.project {
		height: auto;
		// border-radius: 15px;
		border: 2px solid #80CED7;
		@include smallerThan($ipad-pro) { width: 90vw; margin: 6% 0 }
		img { transition: 0.4s }
	}

	.project-name {
		display: flex;
		justify-content: center;
		font-size: $size-4;
		font-weight: 550;

		@include smallerThan($ipad-pro) { font-size: $size-10 }
	}

	.technologies {
		list-style: none;
		@extend %flex-center;
		@include smallerThan($ipad-pro) { font-size: $size-7 }
		li { margin: 0 2% }
	}

	.details {
		@extend %flex-center;
		width: 100%;
		position: absolute;
		bottom: -15%;
		font-family : carla;

		//button itself
		&>div {
			width: auto;
			font-size: 1.2vw;
			text-align: center;
			border: 2px solid black;
			border-radius: 15px;
			padding: 1.5% 2.5%;
			cursor: pointer;
			box-shadow: 0px 5px #999;
			transition: 0.6s;

			&:active {
				transform: translateY(5px);
				box-shadow: none;
				transition: none;
			}

			&:hover {
				color: white;
				background: $button-fill-color;
				transition: 0.6s;
			}

			@include smallerThan($ipad-pro) {
				font-size: 3vw;
				padding: 2% 4%;
			}
		}
	}
}


$star-range: 2000;
@function stars($n) {
  $value: '#{random($star-range)}px #{random($star-range)}px white';
  @for $i from 2 through $n {
   	$value: '#{$value} , #{random($star-range)}px #{random($star-range)}px white';
  }
  @return unquote($value);
}

// store random stars
$small-stars: stars(700);

.small-stars {
	padding: 1px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: $small-stars;
	animation: starsAnimation 50s linear infinite;
}

@keyframes starsAnimation {
	from { transform: translateY(-2000px) }
	to { transform: translateY(0px) }
}
