@import 'variables';
@import 'mixins';


//projects:
#projects-section {
	width: 100%;
	@include biggerThan($ipad-pro) {
		height: auto;
		padding-bottom: 50px;
		// min-height: 100vh;
	}

	@include smallerThan($ipad-pro) {
		background-size: auto auto;
		background-repeat: 50% 50%
	}

	// background: #EEE5E9;
	background: url("assets/images/project-background-1.jpg");
	background-size: 100% 100%;
	background-position: top left;
	padding-bottom: 2%;
	box-sizing: border-box;	
	display: flex;
	flex-direction: column;
	align-items: center;
	

	h1 {
		margin: 1% 0;
		color: black;
		text-align: center;
		font-size: 4vw;

		@include smallerThan($ipad-pro) {
			font-size: 5vw;
		}


		width: 100%;
		background: white;
		padding: 2% 0;
		margin-top: 0;
	}

	img {
		object-fit: cover;
	}

	.project {
		height: auto;
		border-radius: 15px;
		border: 3px solid #031D44;

		@include smallerThan($ipad-pro) {
			width: 90vw;
			margin: 6% 0;
		}
	}

	.name {
		display: flex;
		justify-content: center;
		font-size: 1.8vw;
		font-weight: 550;

		@include smallerThan($ipad-pro) {
			font-size: 6vw;
		}
	}

	.technologies {
		list-style: none;
		display: flex;
		justify-content: center;
		padding: 2% 2%;
		font-size: 1.2vw;

		@include smallerThan($ipad-pro) {
			font-size: 4vw;
		}

		li {
			margin: 0 2%;
		}
	}

	.details {
		display: flex;
		width: 100%;
		justify-content: center;
		position: absolute;
		bottom: -15%;
		font-family : carla;

		//button itself
		&>div {
			width: auto;
			font-size: 1.2vw;
			text-align: center;
			border: 2px solid black;
			border-radius: 15px;
			padding: 1.5% 2.5%;
			cursor: pointer;
			box-shadow: 0px 5px #999;
			&:active {
				transform: translateY(5px);
				box-shadow: none;
				transition: none;
			}

			&:hover {
				color: white;
				background: $button-fill-color;
				transition: 0.6s;
			}

			@include smallerThan($ipad-pro) {
				font-size: 3vw;
				padding: 2% 4%;
			}
		}
	}

	.gallery {
		padding: 2%;
		box-sizing: border-box;
		display: grid;
		grid-gap: 10px;
		box-shadow:  3px 3px black, 0em 0 4em black;
		grid-template-rows: repeat(2, 18vw);
		grid-template-columns: 13vw 13vw 26vw;
		grid-template-areas: 
		"airbnb airbnb upscale" 
		"reddit reddit upscale";

		@include smallerThan($ipad-pro) {
			display: block;
		}

		#project-0 {
			grid-area: airbnb;
		}

		#project-1 {
			grid-area: reddit;
		}

		#project-2 {
			grid-area: upscale;

			@include biggerThan($ipad-pro) {
				.technologies {
					display: flex;
					flex-direction: column;
					align-items: center;
					
					li {
						margin: 2% 0;
					}
				}
			}
		}
	}
}