@import 'variables';
@import 'mixins';



//profile picture
.picture-container {
	border-radius: 50%;
	height: $picture-container-size;
	width: $picture-container-size;
	min-width: $picture-container-size;
	border: 2px solid black;
	overflow: hidden;
	background: url('assets/images/profile.png') no-repeat;
	background-size: contain;
}

//contains about me and skill bars
#skills-section {
	display: flex;
	background: $aboutMe-background;

	//break components into rows
	@include smallerThan($lg-bp) {
		max-height: 1050px;
		display: block;
	}

	@include smallerThan($ipad-pro) {
		max-height: 1300px !important;
	}

	@include smallerThan($ipad) {
		max-height: none !important;
		height: auto;
	}

	//about me and skill bars sections padding
	& > div {
		padding: 50px 3%;

		@include smallerThan($lg-bp) {
			// padding: 50px 5%;
		}
	}
}

#skills-bars {
	width: 100%;
	height: 100%;
	box-sizing: border-box;

	@include smallerThan($lg-bp) {
		transform: rotate(-90deg) translateX(-550px);
		transform-origin: 0 0;
		width: 50vh;
		height: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		// padding: 15vw 0 15vw 50px;
	}

	@include smallerThan($ipad-pro) {
		transform: rotate(-90deg) translateX(-700px);
		padding-top: 0 !important;
		// padding-left: 14% !important;
		// padding-right: 14% !important;
	}

	@include smallerThan($ipad) {
		transform: none;
		width: 100vw;
		height: auto;
		padding: 0 5% !important;
		padding-bottom: 40px !important;
	}

	.bar {
		@include smallerThan($lg-bp) {
			height: 100%;
		}
	}

	.bar-container {
		@include smallerThan($lg-bp) {
			width: 125%;
			margin: 25px 0 !important;
		}

		@include smallerThan($ipad-pro) {
			margin: 15px 0 !important;
			width: 100% !important;
		}
	}

	.skill-label {
		@include smallerThan($lg-bp) {
			width: 100px !important;
		}

		@include smallerThan($ipad) {
			transform: none !important;
			display: flex !important;
			padding: 0 10px !important;
			align-items: center !important;
			justify-content: center !important;
		}
	}

	.bar-fill {
		background: $bar-color !important;
	}
}

#aboutMe {
	position: relative;
	box-sizing: border-box;

	@include smallerThan($lg-bp) {
		width: 100% !important;
		height: auto;
		max-height: 480px;
	}

	@include smallerThan($ipad) {
		max-height: none;
		padding-bottom: 0 !important;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	//container contains both profile picture and description paragraph
	& > div {
		@include smallerThan($ipad-pro) {
			display: block !important;
		}

		//container contains profile picture
		& > div {
			@include smallerThan($ipad-pro) {
				display: flex;
				justify-content: center;
			}
		}
	}

	.text {
		display: block;

		@media screen and (min-width: 1700px) {
			padding: 0 7%;
		}

		@include smallerThan($ipad-pro) {
			display: block;
			padding: 40px 50px 50px 50px;
		}

		@include smallerThan($ipad) {
			// width: auto !important;
			min-width: 0 !important;
			padding: 15px;
		}

		//about me title
		h1 {
			margin-top: 0;
			font-size: $aboutMe-title-size;

			@include smallerThan($ipad-pro) {
				text-align: center;
				font-size: $aboutMe-title-size-md;
				margin-bottom: 10px;
			}
		}

		//description text
		p {
			font-size: $aboutMe-description-font-size-xl;
			line-height: $aboutMe-description-line-height-xl;
			margin: 20px 0;
			text-align: justify;
			padding: 0 40px 0 0;

			@include smallerThan($lg-bp) {
				font-size: $aboutMe-description-font-size-lg;
				line-height: $aboutMe-description-line-height-lg;
			}

			@include smallerThan($ipad-pro) {
				text-align: justify;
			}

			@include smallerThan($ipad) {
				padding: 0;
			}
		}

		padding: 0 0 0 50px;
		min-width: $aboutMe-text-box-width;
		max-height: 100%;
		overflow: auto;
		height: 100%;
		box-sizing: border-box;
	}

	.links {
		//external links flex column under profile picture
		padding: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		align-items: center;

		//external links sticky to bottom of screen
		@include smallerThan($lg-bp) {
			flex-direction: row !important;
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			margin: 0;
			background: white;
			border-top: 1px solid grey;
			z-index: 10;
			height: auto !important;
		}

		.link {
			display: flex;
			justify-content: center;
			margin: 10px 0;
			cursor: pointer;
			width: 100%;
			height: $link-text-size;
			padding: 5px;

			//adds top border, spacing to each link
			@include smallerThan($lg-bp) {
				width: 100%;
				height: 50px;
				margin: auto;
				align-items: center;
				width: 100% !important;
				justify-content: center !important;
			}

			//external link icons -- github / gmail etc
			img {
				height: 40px;
				width: 40px;

				@include smallerThan($lg-bp) {
					height: 30px !important;
					width: 30px !important;
				}

				@include smallerThan($ipad) {
					height: 25px;
					width: 25px;
				}
			}

			//external link texts
			a {
				text-decoration: none;
				color: $link-color;
				margin: 0 0 0 7px;
				font-size: $link-text-size;
				font-weight: $link-text-weight;

				@include smallerThan($ipad) {
					font-size: $link-text-size-xsm;
				}
			}
		}
	}
}
