$aboutMe-background: #EEE5E9;
$aboutMe-description-font-size: 24px;
$aboutMe-description-line-height: 34px;
$aboutMe-title-size: 32px;

$circle-size: 225px;

$h1-size: 80px;
$h2-size: 40px;

$link-text-size: 26px;
$link-text-weight: 700;
$link-color: black;

$bar-color: rgb(34, 32, 29);