//header-sizes:
$h1-size: 60px;
$h2-size: 36px;

//skills-section:

//profile-image-size:
$aboutMe-background: #eee5e9;

$aboutMe-text-box-width: 600px;

//skills:
$skills-height: 665px;
$bar-color: rgb(34, 32, 29);

//links to github, linkedIn etc:

$link-color: black;

//screen sizes:
$lg-bp: 1500px;
$xmd-bp: 1200px;
$sm-bp: 480px;

$iphone5: 320px;
$galaxyS5: 360px;
$iphone678: 375px;
$iphonePlus: 414px;
$ipad: 768px;
$ipad-pro: 1024px;


$carousel-image-background: "assets/images/project-background.jpg";
