$aboutMe-background: #EEE5E9;

$aboutMe-description-font-size-lg: 20px;
$aboutMe-description-font-size-xl: 24px;

$aboutMe-description-line-height-lg: 30px;
$aboutMe-description-line-height-xl: 34px;

$aboutMe-title-size: 32px;
$aboutMe-title-size-md: 48px;

$aboutMe-text-box-width: 600px;

$skills-height: 665px;

$circle-size: 225px;

$h1-size: 80px;
$h2-size: 40px;

$link-text-size: 26px;
$link-text-size-xsm: 20px;
$link-text-weight: 700;
$link-color: black;

$bar-color: rgb(34, 32, 29);

$lg-breakpoint: 1500px;
$xmd-breakpoint: 1200px;
$md-breakpoint: 1024px;
$xsm-breakpoint: 768px;
$sm-breakpoint: 480px;
$xs-breakpoint: 320px;