$aboutMe-background: #EEE5E9;
$aboutMe-description-font-size: 16px;
$aboutMe-description-line-height: 26px;
$aboutMe-title-size: 32px;

$circle-size: 225px;

$link-text-size: 20px;
$link-text-weight: 700;
$link-color: black;

$bar-color: rgb(34, 32, 29);